schema/Airport.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Airport">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Obstacles">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Obstacle" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="Name"/>
                                        <xs:element type="xs:byte" name="Height"/>
                                        <xs:element type="xs:byte" name="Width"/>
                                        <xs:element type="xs:byte" name="Length"/>
                                        <xs:element type="xs:byte" name="DistCenterline"/>
                                        <xs:element type="xs:short" name="DistLeftTHS"/>
                                        <xs:element type="xs:short" name="DistRightTHS"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Runways">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Runway" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="Designator"/>
                                        <xs:element type="xs:short" name="TORA"/>
                                        <xs:element type="xs:short" name="TODA"/>
                                        <xs:element type="xs:short" name="ASDA"/>
                                        <xs:element type="xs:short" name="LDA"/>
                                        <xs:element type="xs:short" name="displacedThreshold"/>
                                        <xs:element type="xs:short" name="runwayStrip"/>
                                        <xs:element type="xs:byte" name="STOPWAY"/>
                                        <xs:element type="xs:byte" name="CLEARWAY"/>
                                        <xs:element type="xs:short" name="RESA"/>
                                        <xs:element type="xs:byte" name="stripEnd"/>
                                        <xs:element type="xs:byte" name="ALS"/>
                                        <xs:element type="xs:short" name="TOCS"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Name"/>
        </xs:complexType>
    </xs:element>
</xs:schema>